h3 {
    color: blue;
}

ul {
    color: orange;
    list-style: none;
    display: flex;
}

p {
    color: brown;
}

footer {
    color: purple;
}

.firstcard {
    color: green;
}

.secondcard {
    color: red;
}

.thirdcard {
    color: rgb(165, 26, 117);
}

a {
    text-decoration: none;
}

li {
    padding: 5%;
    display: grid;
}

.socialmedia {
    display: grid;
    padding-top: 20px;
}

